.nav-link{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
  
 
}

.nomer{
  height: 50px;
    margin-top: 10px;
}
.fedula{
    color: #1F0500;
    text-decoration: none;
    font-family: Taviraj;
font-style: normal;
    font-weight: 600;
}

.fedula:hover{
    color: #454141;
    transition-duration: 0.4s;
}
.instagrami{
    margin-left: 30px;
    margin-right: 40px;
}
#navbarContent {
    margin-left: 200px;
}

.fon {
    
    width: 100%;
    margin-left: 0px;
    
}
.text-fon {
    position: absolute;
    margin-top: -600px;
    
}
.text-why{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 61px;

color: #000000;
}
.man-heart{
    margin-right: 50px;
}
.text-why-img{
    font-family: Taviraj;
font-style: normal;
font-weight: normal;
font-size: 20px;
text-align: center; 
margin-top: -19px;   

color: #000000;
}
.text-why-img2{
    font-family: Taviraj;
font-style: normal;
font-weight: normal;
font-size: 20px;
text-align: center;   

color: #000000;
}
@media (max-width: 1400px) {
    .text-fon {
        margin-top: -450px;
    }
} 
@media (max-width: 1265px) {
    .text-fon {
        margin-top: -450px;
    }
} 
@media (max-width: 1244px) {
    #navbarContent {
    margin-left: 100px;
}
    .nav-link{
    font-size: 17px;
    margin-top: 20px;
    margin-right: 10px;
  
}
    .nomer{
    height: 40px;
    margin-top: 20px;
}
    .navbar-brand {
        
    }
}

@media (max-width: 1150px) {
    .text-fon {
        margin-top: -400px;
    }
} 

@media (max-width: 992px) {
    .instagrami {
        margin-left: 27px;
         text-align: center;
    }
    .nomer {
        margin-left: 40.5%;
    }
    .nav-link{
        text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    
}
    #navbarContent {
    margin-left: 0px;
}
    .text-fon {
        margin-top: -370px;
    }

    .text-why-img{
        font-size: 22.5px;
    }
    .text-why-img2{
        font-size: 22.5px;
    }
}

@media (max-width: 768px){
    .man-heart{
        margin-left: -28px;
    }
}
@media (max-width: 576px){
    .man-heart{
        margin-left: -10px;
    }
}