* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "MuseoModerno", cursive;
}

.container {
  padding: 0 20px;
  max-width: 950px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
}

button:hover {
  opacity: 0.6;
}

input {
  outline: none;
  border: none;
}

.promo {
  background: url("../img/bg.png") center center/cover no-repeat;
  padding: 0 0 93px 0;
}

.header {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 250px;
  height: 45px;
}

.header__logo img {
  width: 100%;
}

.header__burger {
  display: none;
}

.header__official {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

.header__official span {
  font-size: 18px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts .header__phone {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.header__contacts .header__button {
  margin-top: 4px;
  width: 150px;
  height: 30px;
  max-width: 150px;
  min-width: 120px;
  background: #C70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo__wrapper {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__wrapper .promo__title {
  font-weight: 700;
  font-size: 42px;
  color: #FFFFFF;
}

.promo__wrapper .promo__subtitle {
  margin-top: 17px;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.promo__wrapper .promo__icons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__wrapper .promo__icons .promo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
}

.promo__wrapper .promo__icons .promo__icon:first-child {
  margin-left: 0;
}

.promo__wrapper .promo__icons .promo__icon .icon__text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

.promo__wrapper .promo__button {
  margin-top: 65px;
  width: 300px;
  height: 50px;
  background: #C70101;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.promo__wrapper .promo__catalogue {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.promo__wrapper .promo__catalogue a {
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.promo__wrapper .promo__catalogue a:hover {
  opacity: 0.6;
  font-size: 16.5px;
  text-decoration: none;
}

.advantages {
  background: #F6F6F6;
}

.advantages .advantages__wrapper {
  padding: 73px 0 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages .advantages__wrapper .advantages__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #0D0D0D;
}

.advantages .advantages__wrapper .advantages__body {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages .advantages__wrapper .advantages__body .advantages__item {
  margin-left: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .advantages__wrapper .advantages__body .advantages__item:first-child {
  margin-left: 0;
}

.advantages .advantages__wrapper .advantages__body .advantages__item .advantage__text {
  margin-top: 35px;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #0D0D0D;
}

.advantages .advantages__wrapper .advantages__body .advantages__item .advantage__subtext {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #0D0D0D;
}

.advantages .advantages__wrapper .advantages__body .advantages__item .advantage__subtext a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF0000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.advantages .advantages__wrapper .advantages__body .advantages__item .advantage__subtext a:hover {
  opacity: 0.6;
}

.consultation {
  background: url("../img/bg2.png") center center/cover no-repeat;
}

.consultation .consultation__wrapper {
  padding: 100px 0 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consultation .consultation__wrapper .consultation__title {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

.consultation .consultation__wrapper .consultation__subtitle {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.consultation .consultation__wrapper .consultation__form {
  margin-top: 36px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consultation .consultation__wrapper .consultation__form input {
  padding-left: 21px;
  width: 100%;
  height: 54px;
  margin-top: 11px;
  font-weight: 400;
  font-size: 14px;
  color: #4B4B4B;
}

.consultation .consultation__wrapper .consultation__form input:first-child {
  margin-top: 0;
}

.consultation .consultation__wrapper .consultation__form .consultation__button {
  background: #C70101;
  width: 100%;
  margin-top: 17px;
  height: 58px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.carousel {
  margin-top: 100px;
}

.carousel .carousel__wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .carousel__wrapper .slick-slide {
  min-width: 200px;
}

.carousel .carousel__wrapper div img {
  width: 100%;
}

.carousel .carousel__wrapper .slick-prev {
  width: 31px;
  height: 50px;
  margin-right: 68px;
}

.carousel .carousel__wrapper .slick-next {
  width: 31px;
  height: 50px;
  margin-left: 68px;
}

.catalogue {
  margin-top: 100px;
}

.catalogue .catalogue__wrapper .catalogue__title {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: #0D0D0D;
}

.catalogue .catalogue__wrapper .catalogue__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.catalogue .catalogue__wrapper .catalogue__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 52px;
  border: 2px solid #D0D0D0;
  font-weight: 400;
  font-size: 18px;
  color: #6B6B6B;
  -webkit-transform: skew(-25deg);
      -ms-transform: skew(-25deg);
          transform: skew(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.catalogue .catalogue__wrapper .catalogue__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #C70101;
          box-shadow: 3px 3px 20px #C70101;
  border: none;
}

.catalogue .catalogue__wrapper .catalogue__tab span {
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
}

.catalogue .catalogue__wrapper .catalogue__tab_active {
  color: #fff;
  background: #C70101;
  border: none;
}

.catalogue .catalogue__wrapper .catalogue__content {
  margin-top: 60px;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalogue .catalogue__wrapper .catalogue__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item {
  padding: 20px 18px 20px 27px;
  width: 30%;
  background: #FFFFFF;
  border: 2px solid #E8E8E8;
  overflow: hidden;
  margin-bottom: 19px;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item:nth-child(7),
.catalogue .catalogue__wrapper .catalogue__content .catalogue__item:nth-child(8),
.catalogue .catalogue__wrapper .catalogue__content .catalogue__item:nth-child(9) {
  margin-bottom: 0;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200%);
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-right: 20px;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page_active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__subtitle {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #0D0D0D;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__descr {
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #0D0D0D;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__link {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list {
  position: relative;
  margin-left: 20px;
  width: 50%;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list_active {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list .catalogue__back {
  font-weight: 500;
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list li {
  position: relative;
  font-weight: 300;
  font-size: 13px;
  color: #555555;
  margin-bottom: 20px;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list li:last-child {
  margin-bottom: 0;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #C70101;
  left: -14px;
  top: 7px;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .line {
  margin-top: 17px;
  height: 2px;
  background-color: #E8E8E8;
  width: 90%;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer {
  margin-top: 17px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__prices .old__price {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #555555;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__prices .new__price {
  font-weight: bold;
  font-size: 18px;
  color: #050505;
}

.catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__button {
  width: 120px;
  height: 44px;
  background: #C70101;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}

@media (max-width: 918px) {
  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item {
    width: 40%;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item:nth-child(7),
  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item:nth-child(8) {
    margin-bottom: 19px;
  }
}

@media (max-width: 886px) {
  .header__logo {
    width: 200px;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__logo {
    margin-top: 15px;
  }

  .header__official {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .header__contacts .header__phone {
    margin-bottom: 5px;
  }

  .promo__wrapper {
    padding-top: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .promo__wrapper .promo__title {
    font-size: 36px;
  }

  .promo__wrapper .promo__subtitle {
    font-size: 18px;
  }

  .advantages .advantages__wrapper .advantages__title {
    font-size: 27px;
  }

  .advantages .advantages__wrapper .advantages__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item {
    margin-left: 0;
    margin-top: 75px;
    width: 60%;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item:first-child {
    margin-top: 0;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item .advantage__text {
    font-size: 16px;
  }

  .consultation .consultation__wrapper {
    padding: 75px 0 83px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .consultation .consultation__wrapper .consultation__title {
    font-size: 28px;
  }

  .consultation .consultation__wrapper .consultation__form {
    width: 45%;
  }

  .catalogue .catalogue__wrapper .catalogue__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .catalogue .catalogue__wrapper .catalogue__tab {
    margin-bottom: 20px;
    width: 50%;
  }

  .catalogue .catalogue__wrapper .catalogue__tab:last-child {
    margin-bottom: 0;
  }

  .catalogue .catalogue__wrapper .catalogue__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 40px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item {
    width: 60%;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list_active {
    -webkit-transform: translateX(-115%);
        -ms-transform: translateX(-115%);
            transform: translateX(-115%);
  }
}

@media (max-width: 650px) {
  .promo {
    padding: 0 0 50px 0;
  }

  .promo__wrapper .promo__title {
    font-size: 27px;
  }

  .promo__wrapper .promo__subtitle {
    margin-top: 10px;
    font-size: 16px;
  }

  .promo__wrapper .promo__icons {
    margin-top: 30px;
  }

  .promo__wrapper .promo__icons .promo__icon .icon__text {
    font-size: 12px;
  }

  .promo__wrapper .promo__button {
    margin-top: 35px;
    width: 250px;
    font-size: 15px;
  }

  .promo__wrapper .promo__catalogue {
    font-size: 15px;
  }

  .advantages .advantages__wrapper {
    padding: 50px 0 60px;
  }

  .advantages .advantages__wrapper .advantages__title {
    font-size: 22px;
  }

  .advantages .advantages__wrapper .advantages__body {
    margin-top: 30px;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item {
    margin-top: 50px;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item .advantage__text {
    margin-top: 10px;
    font-size: 14px;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item .advantage__subtext {
    margin-top: 5px;
    font-size: 12px;
  }

  .consultation .consultation__wrapper {
    padding: 50px 0 58px;
  }

  .consultation .consultation__wrapper .consultation__title {
    font-size: 22px;
  }

  .consultation .consultation__wrapper .consultation__subtitle {
    font-size: 17px;
  }

  .consultation .consultation__wrapper .consultation__form {
    width: 60%;
  }

  .consultation .consultation__wrapper .consultation__form .consultation__button {
    font-size: 15px;
  }

  .catalogue .catalogue__wrapper .catalogue__title {
    font-size: 22px;
  }

  .catalogue .catalogue__wrapper .catalogue__tabs {
    margin-top: 35px;
  }

  .catalogue .catalogue__wrapper .catalogue__tab {
    font-size: 16px;
  }

  .catalogue .catalogue__wrapper .catalogue__content {
    margin-top: 30px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__subtitle {
    font-size: 12px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__descr {
    font-size: 12px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__link {
    font-size: 12px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list li {
    font-size: 11px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__prices .old__price {
    font-size: 12px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__prices .new__price {
    font-size: 15px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__button {
    font-size: 12px;
    width: 90px;
    height: 34px;
  }
}

@media (max-width: 500px) {
  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .header__logo {
    width: 150px;
  }

  .promo__wrapper .promo__title {
    font-size: 18px;
  }

  .promo__wrapper .promo__subtitle {
    font-size: 11px;
  }

  .promo__wrapper .promo__icons .promo__icon .icon__text {
    font-size: 10px;
  }

  .promo__wrapper .promo__button {
    width: 200px;
    height: 40px;
    font-size: 12px;
  }

  .promo__wrapper .promo__catalogue {
    font-size: 12px;
  }

  .advantages .advantages__wrapper .advantages__title {
    font-size: 18px;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item .advantage__text {
    font-size: 12px;
  }

  .advantages .advantages__wrapper .advantages__body .advantages__item .advantage__subtext {
    font-size: 10px;
  }

  .consultation .consultation__wrapper .consultation__title {
    font-size: 18px;
  }

  .consultation .consultation__wrapper .consultation__subtitle {
    font-size: 14px;
  }

  .consultation .consultation__wrapper .consultation__form {
    width: 70%;
  }

  .consultation .consultation__wrapper .consultation__form input {
    font-size: 12px;
    height: 45px;
  }

  .consultation .consultation__wrapper .consultation__form .consultation__button {
    font-size: 14px;
    height: 49px;
  }

  .catalogue .catalogue__wrapper .catalogue__title {
    font-size: 18px;
  }

  .catalogue .catalogue__wrapper .catalogue__tab {
    font-size: 12px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__descr {
    font-size: 11px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__page .catalogue__link {
    font-size: 11px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__changeList .catalogue__list li {
    font-size: 11px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__prices .old__price {
    font-size: 10px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__prices .new__price {
    font-size: 12px;
  }

  .catalogue .catalogue__wrapper .catalogue__content .catalogue__item .catalogue__footer .catalogue__button {
    font-size: 11px;
    width: 80px;
    height: 30px;
  }
}